html {
  font-family: sans-serif;
  pading:0;
}
body {
  margin: 0;
}



.logo{
      float:left;
      padding-top:1em ;

}


.top-nav ul li a{
	color: #000000;
	padding: 0.2em 1.9em;
	font-size: 0.875em;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	position: relative;
}
.top-nav ul li a span{
	height: 20px;
	width: 1px;
	display: inline-block;
	background: #C2C2C2;
	position: absolute;
	top: 30%;
	right: 0;
}

nav {
	position: relative;
	float: right;
}
nav ul {
	padding: 0;
	float: right;
	margin: 0.75em;
}
nav li {
	display: inline;
	float: left;
	position:relative;
}
nav a {
	color: #fff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}





/*--start-search--*/
.search{
	padding: 10em 0;
    background: url("../images/greengrid.jpg");
    background-size: cover;
    text-align: center;


}

.search-head h{
	text-transform: uppercase;
	color: forestgreen;
	font-weight: 700;
	font-size: 1.6em;
	margin: 0 0 0.5em 0;
    
}
.search-head form{
    

}
#reponame{
    width: 50%;
    height: 2em;
}
#result{
    font-size: 100;
}
/*--//End-search--*/

/*--start-commit info--*/
.commit{

    background: floralwhite;
    background-size: cover;
    text-align: center;
}

.commit-head h{
    text-transform: uppercase;
    color: forestgreen;
    font-weight: 700;
    font-size: 1.6em;
    margin: 0 0 0.5em 0;

}
.commit-head p{
    font-size: 18px;
    color: lightseagreen;
}
.commit-head div1{
    font-size: 15px;
    font-weight: 900;
}
.commit-head div2{
    font-size: 15px;
    font-weight: 900;
}
.commit-head div3{

}
/*--//End-commit info--*/

/*--start-history--*/
.history{

	background: url("../images/greengrid.jpg");
    background-size: cover;
    text-align: center;
}

.history-head h{
	text-transform: uppercase;
	color: forestgreen;
	font-weight: 700;
	font-size: 1.6em;
	margin: 0 0 0.5em 0;
   
}
#repos{
    font-size: 18px;
    color: darkgreen;

}

/*--//End-history--*/




/*--start-management--*/
.discovery{

	background: floralwhite;
    background-size: cover;
    text-align: center;
}

.discovery-head h{
	text-transform: uppercase;
	color: forestgreen;
	font-weight: 700;
	font-size: 1.6em;
	margin: 0 0 0.5em 0;
   
}
.discovery-head div1{
    font-size: 18px;
    color: palevioletred;

}
.discovery-head div2{

    font-size: 15px;
    color: darkgreen;

}

/*--//End-management--*/

/*--start-contact--*/
.contact{

	background: url("../images/greengrid.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.contact-head h{
	text-transform: uppercase;
	color: forestgreen;
	font-weight: 700;
	font-size: 1.6em;
	margin: 0 0 0.5em 0;
    
}
.contact-head span{
   

}
.contact-head p2{
   color: darkgreen;
   font-family: "Courier New", Courier, monospace;
    font-weight: 900;

}
/*--//End-contact me--*/



/*--footer--*/
.footer{
	padding: 0em 0;
	background: floralwhite;
    text-align: center;
}

#portrait{
    border-radius:50% 50% 50% 50%;
    width:100px;
    height:100px;
}
.footer p{


}


#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 13px;
	right: 3%;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top1.png") no-repeat 0px 0px;
	border-radius: 30em;
}

/*--//End--*/