<!DOCTYPE html>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
<script type="text/javascript" src='@routes.Assets.at("js/index.js")' ></script>
<script type="text/javascript" src='@routes.Assets.at("js/analytics.js")' ></script>


<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
    <p>Committer</p>
    <ul id="committer"></ul>

    <p>Commit number</p>
    <ul id="num"></ul>
    <a href="/">Return index</a>
</body>
</html>