<!DOCTYPE html>
<html>
    <head>
        <title>Timeline</title>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet">
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" media="all" rel="stylesheet">
        <link href='@routes.Assets.at("css/plugin/styles.css")' media="all" rel="stylesheet">        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src='@routes.Assets.at("js/plugin/main.js")'></script>
    </head>
    <body>
        <div class="timeline animated">
            <div class="timeline-row">
                <div class="timeline-time">
                    <small>Oct 30</small>4:53 PM
                </div>
                <div class="timeline-icon">
                    <div class="bg-primary">
                        <i class="fa fa-pencil"></i>
                    </div>
                </div>
                <div class="panel timeline-content">
                    <div class="panel-body">
                        <h2>
                         This is a title for this timeline post
                        </h2>

                    </div>
                </div>
            </div>
        </div>


    </body>
</html>