@(message: String)
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
<script type="text/javascript" src='@routes.Assets.at("js/index.js")' ></script>

@main("Welcome to Play") {

 @*   @play20.welcome(message, style = "Java") *@



    <ul id="users"></ul>

    <form action="@routes.Application.addUser()" method="post">
        <input type="test" name="name" />

        <button>Add user</button>
    </form>



}
